.banner {
    background: rgba(0,0,0,0.7) url(https://assets.nflxext.com/ffe/siteui/vlv3/3e521d6d-a53b-4c3f-a85f-dd77c06f7ac7/d80737cc-a0b5-40a1-a50d-5ae7bac8fab3/NG-en-20220425-popsignuptwoweeks-perspective_alpha_website_medium.jpg);
    background-blend-mode: darken;
    background-size: cover;
    height: 100vh;
    background-repeat: no-repeat;
}


@media  screen and (min-width:550px) and (max-width: 949px) {
    .banner-1 {
        flex-direction: column;
    }   
    .banner-text {
        text-align: center !important;
    }
    .banner-text-small {
        text-align: center !important;
        font-size: 18px !important;
        max-width: 100%!important;
    }
    .banner-2 {
        display: flex !important;
        flex-direction: column-reverse !important;
    }
    .banner-3 {
        display: flex;
        flex-direction: column-reverse !important;
    }
    .banner-4{
        display: flex;
        flex-direction: column-reverse !important;
    }
    .banner-1 h2 {
        max-width: 100%;
    }
}

@media screen and (max-width: 455px){
    button.accordion {
        font-size: 1.2rem !important ;
        font-weight: 500;
    }
    .accordion-content {
        font-size: 1rem !important ;
    }
    .container {
        width: 100% !important;
    }
    .banner-text {
        text-align: center !important;
        font-size: 1.8rem !important;
    }
    .banner-text-small {
        text-align: center !important;
        font-size: 18px !important;
        max-width: 100%!important;
    }
    .banner {
        height: 40rem !important;
    }
    .navbar-brand {
        width: 90px;
    }
    .navbar-heading {
        letter-spacing: -.8px;
        font-weight: 400;
        font-size: 1.8rem !important;
    }
    .navbar-p {
        font-size: 1.2rem !important;
    }
}


.container {
    width: 80%;
    max-width: 800px;
    margin: 50px auto;
  }
  
  button.accordion {
    width: 100%;
    background-color: #303030;
    border: none;
    outline: none;
    text-align: left;
    margin-bottom: 5px;
    padding: 15px 20px;
    font-size: 1.5rem;
    color: white;
    cursor: pointer;
    transition: background-color 0.2s linear;
  }
  
  button.accordion:after {
    font-family: FontAwesome;
    content: "\f150";
    font-family: "fontawesome";
    font-size: 18px;
    float: right;
  }
  
  button.accordion.is-open:after {
    content: "\f151";
  }
  
  /* button.accordion:hover,
  button.accordion.is-open {
    background-color: #ddd;
  }
   */
  .accordion-content {
    background-color: #303030;
    border-left: 1px solid black;
    border-right: 1px solid black;
    font-size: 1.2rem;
    padding: 0 20px;
    margin-bottom: 5px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-in-out;
  }
  
  @media screen and (max-width:949px) {
      .start-btn {
        flex-direction: column;
        -webkit-box-align: center;
        align-items: center;
      }
      .start-btn button {
          -webkit-box-align: center;
      }

    }

  .grid-template {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 80px;
  }

  footer h6{
    color: rgb(117, 117, 117) !important;
    margin-bottom: 20px;
    font-size: 14px;
    text-decoration: none;
  }

  .grid-template p{
    color: rgb(117, 117, 117);
    margin-bottom: 20px !important;
    font-size: 14px;
  }
  

  @media screen and (max-width: 569px) {
      .grid-template {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(2, 1fr);
            grid-column-gap: 29px;
            grid-row-gap: 11px;
      }
  }

  @media screen and (max-width: 451px) {
      .grid-template {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 27px;
        grid-row-gap: 11px;
      }
  }

 
  
.email__input {
    border: none;
    background: transparent;
    color: black;
    height: 100%;
    padding-left: 7px;
    width: 100%;
  }
  
  .email__form__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    margin-top: 10px;
  }
  
  .form__container {
    background-color: #fff;
    width: 90%;
    height: 50px;
    position: relative;
    border-radius: 3px;
  }
  
  .email__label {
    color: black;
    position: absolute;
    top: 28%;
    left: 2%;
    color: rgb(153, 149, 149);
    transition: 0.5s;
  }
  
  .email__input:focus + .email__label {
    top: 0.2rem;
    font-size: 10px;
  }
  
  .email__input:not(:placeholder-shown).email__input:not(:focus) + .email__label {
    top: 0.2rem;
    font-size: 10px;
  }
  
  .email__input:focus {
    outline: none;
  }
  
  
footer {
  /* border-top: 8px solid #222; */
  padding: 2rem 2rem;
  color: #757575;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer__row__1 > h4 {
  font-size: 15px;
  font-weight: 500;
}

.footer__row__2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  font-size: 14px;
}

.footer__row__3 > .dropdown__container {
  width: fit-content;
  border: 1px solid #757575;
}

.footer__row__3 > .dropdown__container > .language__drop__down {
  color: #757575;
}

.column__1,
.column__2,
.column__3,
.column__4 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.column__4 {
  margin-left: 10px;
}

  .primary__button {
    background-color: #dc030f;
    border: 1px solid #dc030f;
    color: white;
    padding: 0rem 1.2rem;
    border-radius: 2px;
    /* font-size: 14px; */
    font-size: 19px;
    letter-spacing: 2px;
  }
  
  
  @media  screen and (min-width:1024px) {
    .email__form__container {
        flex-direction: row;
        align-items: center;
        gap: 1px;
      }
      .form__container {
        width: 50%;
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
      }
      .form__1__cont {
        width: 100%;
      }
    
      .primary__button {
        height: 51.5px;
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
      }
      
  .btn__1 {
    width: 48%;
  }
  
  footer {
    /* margin-top: 50px; */
    padding: 2rem 10rem;
    justify-content: flex-start;
    text-align: left;
    align-items: flex-start;
    gap: 30px;
  }

  .footer__row__2 {
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: nowrap;
    gap: 100px;
  }

  .footer__row__1,
  .footer__row__3,
  .footer__row__4 {
    align-self: flex-start;
  }

  .column__1,
  .column__2,
  .column__3,
  .column__4 {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  }

  @media screen and (min-width: 768px) {
    .column__1,
    .column__2,
    .column__3,
    .column__4 {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
  }